@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

/* Example CSS */
:root {
  --background-color: #edf6f9;
}

.dark {
  --background-color: black;
}

body {
  background-color: var(--background-color);
}

.inline-block {
  display: inline-block;
}

.text-yellow-700 {
  color: #f59e0b; /* Tailwind CSS yellow-700 */
}

.w-1 {
  width: 0.25rem; /* Tailwind CSS width 1 */
}

.h-7 {
  height: 1.75rem; /* Tailwind CSS height 7 */
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
