@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

/* Example CSS */
:root {
  --background-color: #edf6f9;
  /* --text-color: black; */
}

.dark {
  --background-color: black;
  /* --text-color: white; */
}

body {
  background-color: var(--background-color);
  /* color: var(--text-color); */
}